<% include ../partials/header-top.ejs %>
<title>Anon. - Post</title>
<% include ../partials/header-bottom.ejs %>

<h1>ANON.</h1>
<h2 id = "MakePost">Create a Post</h2>

<form action="/posts/add" method="POST" class="addPost">
	<input type="text" name="title" placeholder="Title">
	<br>
	<textarea name="body"></textarea>
	<br>
	<input list="categories" name="category">
		<datalist id="categories">
		    <option value="Sports">
		    <option value="Computers">
		    <option value="Cars">
		    <option value="Education">
		    <option value="Psychology">
		</datalist>
		<br>
		<input list="thread" name="thread">
		<datalist id="thread">
		    <option value="No Thread">
		    <option value="Thread 2">
		    <option value="Thread 3">
		    <option value="Thread 4">
		    <option value="Thread 5">
		</datalist>
		<br>
	<input type="submit" name="" value="Add Post">
</form>

<% include ../partials/footer.ejs %>