<!DOCTYPE html>
<html lang="en">
<head>
    <!--METAS-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!--TITLE-->
    <title>Sign Up - ANON.</title>
</head>
<body>
    
    <div class="signupbox">
      <div id="registerError">
        <%- messages('message', locals) %>
      </div>
       <h1 id = "SignupHeader">Sign Up Here</h1>
       <form method='POST', action="/register">
           <p class="signupText">Username</p>
           <input type="text" name="username" placeholder="Enter Username">

           <p class="signupText">Password</p>
           <input type="password" name="password" placeholder="Enter Password">

           <p class="signupText">Confirm Pasword</p>
           <input type="password" name="password2" placeholder="Enter Password">

           <input type="submit" name="" value="Sign Up">
           <a href="login">Already have an account?</a>
       </form> 
    </div>

</body>
</html>