<% include ../partials/header-top.ejs %>
<title>Anon. - Welcome</title>
<% include ../partials/header-bottom.ejs %>

<div class="WATCH-OUT-card" id="content-warning">
	<center>
	<div class="card">
        <div class="card-header">
            Important
        </div>
        <div class="card-body">
            <h5 class="card-title">Watch Out!</h5>
            <p class="card-text">This site contains sensitive content.</p>
            <a href="/" class="btn btn-primary" id="welcome-continue">Go to site.</a>
        </div>
    </div>
    </center>
</div>

<div class="messages">
    <center>
        <%- messages('message', locals) %>
    </center>
</div>

<div id="welcomeContainer">
    <div class="signupbox">
        <h1 id = "SignupHeader">Sign Up Here</h1>
        <form action="/register" method="POST">
            <p class="signupText">Username</p>
            <input type="text" name="username" placeholder="Enter Username">    
            <p class="signupText">Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <p class="signupText">Confirm Pasword</p>
            <input type="password" name="password2" placeholder="Enter Password">
            <input type="submit" name="" value="Sign Up">
        </form> 
    </div>
    
    <div id="or-message">
        <p>Or</p>
    </div>

    <div class="loginbox">
        <h1 id = "LoginHeader">Login Here</h1>
        <form action="/login" method="POST">
            <p class="LoginText">Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p class="LoginText">Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
        </form> 
    </div>
</div>
</div> <!-- .content-wrapper -->
</main> <!-- .cd-main-content -->
<script src="../js/sweetalert/dist/sweetwater.min.js"></script>
<script src="../js/jquery-2.1.4.js"></script>
<script src="../js/jquery.menu-aim.js"></script>
<script src="../js/main.js"></script> <!-- Resource jQuery -->
<script src="socket.io/socket.io.js"></script> <!-- Backend Connection -->
<script>
  var socket = io.connect('http://localhost');
</script>
</body>
</html>